*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html, body{
  height: 100vh;
   
}
body{
  font-family:poppins;
  font-size:16px;
  color: #000; 
}

.main{
display: flex;
height: 100vh
}
.container{
  width: 100%;
  border:2px solid black;
  color: black;
  /* display: flex;  */
  /* justify-content:center */
}
.sidebar{
  width: 260px;
  height:100%;
  overflow:auto;
  flex-shrink: 0;
  background-color: rgb( 22, 22,22, 1);
}

